body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  max-width: 100%;
  padding: 5px;
}

/* Admin Panel Styles */

.survey-title{
  margin: 2rem;
  color:rgb(218, 98, 61);
}
.intro {
  display: flex;
  flex-direction: row;
  gap: 5rem;
}
.intro-text {
  font-size: 1.175rem;
  margin-left: 2.25rem;
  line-height: 3rem;
}

img {
  width:25rem;
  height: 18rem;
}
.message {
  display: flex;
  flex-direction: column;
  margin: 0 2rem;
  text-align: center;
}

.survey-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.survey {
  margin : 0 3rem 0 4rem;
}

.preview {
  margin: 0 1rem 0 3rem;
}
.question {
  width: 35rem;
  border: 1px solid gray;
  padding: 0 1rem 1rem 1rem;
  margin: 1rem 0 0;
}

.label {
  width: 6.5rem;
  margin: 1rem 0;
  font-weight: 600;
}
.range-label{
  display: flex;
  gap: 2rem;
  width: 6.5rem;
  font-weight: 600;
  margin: 0.75rem 0 0;
}
.question-input, .option-input{
  width: 34rem;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 0.5rem 0;
  font-size: medium;
  font-family: "Montserrat";
}
.range-input {
  width: 3rem;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: medium;
  margin-bottom: 0.5rem;
  font-family: "Montserrat";
}

.rating-meaning-input {
  width: 20rem;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: medium;
  /* margin: 0 0 1rem ; */
  font-family: "Montserrat";
}
.rating-meaning-label {
  display: flex;
  gap: 2rem;
  font-weight: 600;
  margin: 0.75rem 0 0;
}
.option-input {
  width: 28rem;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.option-container {
  display: flex;
  width: 100%;
  height: 3.25rem;
  flex-direction: row;
  margin: 1rem 0;
  gap: 10px;
}
option{
  font-size: medium;
  font-family: "Montserrat";
}
.remove-button, .add-option {
  background-color: #e2e2e2;
  color: rgb(0, 0, 0);
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 0.5rem;
}

.remove-button {
  margin-left: 1rem;
  margin-top: 0.5rem;
  height: 2.25rem;
}

.add-option {
  margin-top: 1rem;
  width: 9rem;
  padding: 12px;
}

.add-option i::before {
  content: '\f067';
}

.dropdown {
  width: 34rem;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 0.5rem 0;
  font-size: medium;
  font-family: "Montserrat";
}

.question-type {
  margin: 1rem 0;
}

.question-head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.removeQues {
  margin: 1.25rem 1rem 0 0;
  padding: 8px;
}
.ques-component {
  width: 35rem;
  display: flex;
  flex-direction: column;
  gap: 0;
  margin-top: 1.25rem;
}

.button {
  cursor: pointer;
  height: 40px;
  width: 35rem;
}

.add-ques {
  font-family: 'Montserrat';
  cursor: pointer;
  width: 100;
  margin: 0.85rem 0;
  margin-left: 1rem;
}

.survey-details {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.render-survey {
  font-family: 'Montserrat';
  cursor: pointer;
  width: 35rem;
  margin-left: 1rem;
}

.generateBtn {
  position: relative;
  left: 7.5rem;
  width: 14rem;
  padding: 15px;
  font-size: medium;
  font-weight: 600;
  font-family: 'Montserrat';
  border-radius: 5%;
  background-color: rgb(218, 98, 61);
  margin: 2rem 0;
  cursor: pointer;
}

/* Survey Display Styles  */

.survey-display-box {
  width:28.5rem;
  border: 1px solid black; 
  padding: 8px; 
  position: relative; 
}

.cancelIcon {
  position: absolute; 
  top: 2px; 
  right: 4px; 
  cursor: pointer;
}

.survey-ques {
  margin: 1rem 0;
  padding:1rem;
  line-height: 1.25rem;
}

.question-paper {
  padding:8px;
  display:flex; 
  flex-direction:column; 
}

.ques {
  font-family: 'Montserrat';
  font-weight:600;
}

.question-type {
  font-family: 'Montserrat';
  margin-bottom: 1.5rem;
}

.slider {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-bottom: 1rem;
}

.names {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.text-feedback {
  width: 98%;
  overflow: hidden;
  font-family: 'Montserrat';
}

.send-next-box {
  display:flex;
  justify-content: space-between;
  margin-top: 16px;
}

/* Survey Settings Styles */

.settings-box{
  width: 28rem;
  border: 1px solid black; 
  padding: 12px;
  margin-top: 3rem;
}

.settings-ques {
  font-weight: bold;
  line-height: 2rem;
}

.counter {
  display: flex; 
  align-items: center;
  gap: 1rem;
  margin: 1rem 3rem;
}

.counter-paper {
  border-radius:4px;
  display: flex;
  align-items: center; 
  gap: 1rem;
  padding: 5px 2px;
}

.select-database {
  display:flex;
  flex-wrap:wrap; 
  justify-content: space-evenly; 
}

.db {
  margin: 0.5rem 0;
  padding: 0.5rem;
}

.mysql, .mongodb, .postgresql, .customdb{
  width:3rem; 
  height:2rem; 
  margin: 5px 10px 0 0;
}

.firebase {
  width:2.125rem; 
  height:2.25rem; 
  margin: 5px 10px 0 0;
}

.sqlite {
  width:4rem; 
  height:2rem; 
  margin: 5px 10px 0 0;
}

/* Display Code Styles */

.displayCode {
  margin-left: 2.25rem;
}

.viewCode {
  width: 60rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem 5rem;
  padding: 5px;
  border: 1px solid #130202;
  border-radius: 4px;
}

.code-section {
  margin-bottom: 1.6rem;
}

h4 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 0.8rem;
}

.codeCopy {
  position: relative;
}
.copybtn {
  position: absolute;
  top: 0.5rem;
  right: 0.75rem;
  background-color: #0074d9;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
}

.clicked {
  position: absolute;
  top: 0.625rem;
  right: 0.75rem;
  background-color: #68a2d4;
  color: rgb(8, 8, 8);
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
  margin-top: 0.8rem;
}
